
.notice {
  font-weight: bold;
  color: red;
}

@mixin max-size($size) {
  max-width: $size;
  max-height: $size;
}

.hfeed {
  margin: 0 5px 5px 0;

  .hentry {
    float: left;
    margin: 10px 0 0 10px;
    width: 130px;
    height: 130px;
    overflow: hidden;

    .thumbnail img {
      @include max-size(150px);
    }

    &.novel .thumbnail img {
      @include max-size(130px)
    }
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
